* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: #E0EAF4;
    font-style: mono, sans-serif;
}


.container {
    padding: 10px 10%;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

#header {
    background-image: url('5.jpg');
    background-size: cover;
}

/* Header / Home */

#header {
    height: 90vh;
    width: 100%;
    background-image: url(1.jpg);
    background-size: cover;
    background-position: center;
}

#header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 90vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black overlay with 50% opacity */
}

.header-text {
    font-style: arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top: 55%;
    left: 5%;
    width: 60%;
    text-align: left;
    color: white;
}

.header-text p {
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 0%;
}

.header-text h1 {
    font-weight: bolder;
    width: 70%;
}

.header-text p {
    margin-top: 10px;
    font-size: 20px;
    font-weight: normal;
}

/* ABOUT US */

#about {
    background-color: #ffffff;
    padding: 50px 0;
}

.about-header {
    font-size: 30px;
    color: #000000;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 80%;
}

.about-header h2 {
    margin: 20px;
}

.about-images img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.about-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 20px;
}

.about-images div {
    padding: 20px;
    font-size: 13px;
    font-weight: 300;
    border-right: 5px;
    border-radius: 5%;
}

.about-images div h3 {
    font-size: 20px;
    justify-content: center;
    text-align: center;
}

.about-images div p {
    margin-top: 1%;
    font-size: 15px;
    justify-content: center;
    text-align: center;
}

/* Footer */

#footer {
    background-color: #2E77AE;
    color: white;
    padding: 50px 0;
    width: 100%;
}

.subscribe {
    flex-basis: 35%;
    margin-left: 100px;
}

.contact {
    flex-basis: 50%;
}

.subscribe h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.subscribe p {
    margin-top: 50%;
}

.subscribe form {
    width: 100%;
}

form input,
form textarea {
    width: 300px;
    border: 0;
    outline: none;
    background: #414141;
    margin: 15px 0;
    padding: 15px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    border-radius: 6px;
}

input {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: .8vw;
    color: #000000;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 .4vw rgba(0, 0, 0, 0.5), 0 0 0 .15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    padding: 0.4vw;
    width: 100%;
    max-width: 190px;
    transition: .4s;
}


.contact h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.contact p {
    font-size: large;
    font-style: bold;
    margin: 5px;
}

.contact img {
    width: 10px;
    height: 30px;
    margin-right: 10px;
}

.fa-solid {
    color: #000000;
    margin-right: 10px;
}